<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>CircleDB webview</title>

    <script src="/static/ag-grid-community.min.js"></script>
    <script src="/static/script.js"></script>

    <link id="favicon" rel="icon" type="image/x-icon" href="/static/database_icon_x48.png">
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <span class="control has-icons-left">
        <div class="select">
          <select id="db-select" onchange="updateTableList(this.value);">
            <option hidden disabled selected></option>
            {% for database in databases %}
              <option class="dropdown-item">{{database}}</option>
            {% endfor %}
          </select>
        </div>
        <span class="icon is-left">
          <img src="/static/database-2-fill.png" width="65%">
        </span>
      </span>

      <span id="table-select-and-button" style="display: none;">
        <span class="control has-icons-left">
          <div class="select">
            <select id="table-select" onchange="updateDisplay();">
              <option hidden disabled selected></option>
              {% for dbname, tables in db_to_tables.items() %}
                {% for table_type, table_name in tables %}
                  <option data-src-db="{{dbname}}" style="display: none;" class="dropdown-item">{{table_name}}</option>
                {% endfor %}
              {% endfor %}
            </select>
          </div>
          <span class="icon is-left">
            <img src="/static/table-fill.png" width="60%">
          </span>
        </span>
        <button class="button" onclick="generateCollection();">collection.db</button>
      </span>

      <div id="table" class="ag-theme-alpine"></div>
    </div>
    <a id="blobDownload" style="display: none;"> 
  </body>
  <!-- ⠀⠀⠀⠀⠀⡆⠀⠀⠀⢲⠀⠀⠹⡄⠀⠀⠀⠀⠀⠀⠀⠀⢰⠀⠀⠀⠀⡞⠀⠐⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠸⡀⠀⠀⠀⢣⡀⠀⠱⡄⠀⠀⠀⠀⠀⠀⠀⢸⡓⠛⠳⠺⣇⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠑⢄⠀⠀⢀⣷⣄⡀⠘⢦⣀⣠⡴⠶⠚⠛⠛⠃⠒⠒⠒⠚⠦⢀⣻⡉⠉⠉⠑⠒⠢⠤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⣶⢒⢲⡄⠀⠙⠺⣯⣡⢤⡚⠋⠉⠉⠐⠒⠉⠉⠓⠒⠢⠄⣀⠀⠀⠀⠀⠈⠑⠦⡀⠀⠀⠀⠀⠀⠉⠒⢤⡀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠈⠣⣀⡷⠀⣠⣾⠟⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠂⢀⠀⠀⠀⠀⠑⢄⠀⠀⠀⠀⠀⠀⠈⠑⢄⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠁⢠⣾⠏⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠒⢄⠀⠀⠀⠑⢆⠀⠀⠀⠀⠀⠀⠀⠙⢄⠀⠀⠀⠀
⠀⠀⠀⠀⠀⡰⡷⠁⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⢄⠀⠀⠀⠳⡀⠀⠀⠀⠀⠀⠀⠈⠳⡀⠀⠀
⠀⠀⠀⢀⣼⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⡀⠀⠀⠱⡀⠀⠀⠀⠀⠀⠀⠀⠑⡄⠀
⠀⠀⢀⣞⡎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣄⠀⠀⠱⡀⠀⠀⠀⠀⠀⠀⠀⠘⣄
⠀⠀⡜⡞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢆⠀⠀⢳⡀⠀⠀⠀⠀⠀⠀⠠⡸
⠀⣰⠱⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡆⠀⠈⣷⠀⠀⠀⠀⠀⠀⠀⠘
⢠⠇⡆⠀⠀⠀⢠⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠸⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⢹⡀⠀⢹⡆⠀⠀⠀⠀⠀⢄⠀
⡼⢰⠀⠀⠀⠀⡞⠀⠀⠀⠀⠀⠀⣿⡀⡄⠀⠀⠀⢠⣀⠀⡏⢣⡀⠀⠀⠀⠀⢳⡀⠀⠀⠀⠸⡄⠀⠀⠀⠀⣇⠀⠀⣷⠀⠀⠀⠀⠀⠀⠙
⠣⡇⠀⠀⠀⢠⡇⠀⠀⠀⢰⠂⠀⡏⣇⣷⠀⠀⠀⠈⢯⠉⢻⠒⠳⡄⠀⠀⠀⠀⢳⠀⠀⠀⠀⣇⠀⠀⠀⠀⢸⠀⠀⢻⡄⠀⠀⠀⠀⠀⠀
⠀⠃⠀⠀⠀⢸⠇⠀⠀⠀⢸⠀⢸⡧⢏⢹⡀⠀⠀⠀⠀⠑⠺⡇⠊⠘⢢⠀⠀⠀⠈⣧⡀⠀⠀⢸⠀⠀⠀⠀⢸⡅⠀⢸⡇⠀⠀⠀⠀⠀⠀
⠠⠀⠀⠀⠀⢸⠇⠀⠀⠀⣾⠀⡿⠄⢼⠾⢧⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠑⢤⡀⠀⠸⡳⡀⠀⢸⠀⠀⠀⠀⢸⡄⠀⠈⣷⠀⠀⠀⠀⠀⠀
⠀⠀⠀⡀⠀⠸⡇⠀⠀⢀⡗⣰⠁⠀⠀⢣⡌⢢⡀⠀⠀⠀⠀⡇⠀⣰⣂⣀⣀⣭⣶⣤⣷⣿⣄⠘⡆⠀⠀⠀⢸⠆⠀⠀⣿⣤⣤⣤⢶⠾⠷
⠀⠀⠰⣧⠀⠀⣇⠀⠀⣼⣷⠃⠀⠀⣀⣠⣿⡀⠑⢄⡀⠀⠀⡇⠀⠙⠿⣿⣿⡿⣿⣿⣿⡆⠈⢲⡇⠀⠀⠀⣼⠀⠀⠀⣿⣧⣐⣤⣮⣼⣷
⢸⠀⠀⣿⡀⠀⢿⠀⣰⣿⣧⣶⣶⣿⣿⣯⠀⠁⠀⠀⠈⠢⢄⡇⠀⠀⢰⡾⠟⠷⠟⠛⣻⠃⠀⢰⠃⠀⠀⣰⡇⠀⠀⠀⣏⣿⡿⢟⢻⣿⣋
⢸⡆⠀⢿⣧⠀⢸⣦⠟⠛⠛⣿⣏⣻⠿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠒⠒⠒⠋⠁⠀⠀⡸⠀⢀⣴⡟⠀⠀⠀⠀⣿⡟⣡⡼⠋⣠⠟
⠨⣇⠀⠘⣿⣦⠀⢿⡀⠀⠺⣟⣉⣉⠴⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠀⠀⠀⠀⢰⡅⠔⠋⣿⠀⠀⠀⠀⠀⣿⡼⠋⠀⢸⣁⠀
⡇⢹⡀⠀⢻⣿⣧⡈⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⠛⠛⢦⠀⠀⠀⠀⠀⠀⠀⣟⠀⠀⠀⠀⠀⡿⠛⠢⣄⠀⠉⣿
⣷⠀⢧⠀⠘⣿⡸⢿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠴⡪⠃⠀⠀⠈⡇⠀⠀⠀⠀⢀⣴⣯⠀⠀⠀⠀⣸⡇⠀⠀⠈⢣⢸⠇
⣿⡄⠈⣧⡀⢸⡇⣹⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠠⡦⠴⠖⠮⠭⠒⠉⠀⠀⠀⢀⡼⠁⠀⠀⣠⣴⣿⡛⡧⠀⠀⠀⠀⣿⠃⠀⠀⠀⠀⠼⣇
⠙⢳⡀⢸⡙⠲⢷⣸⣿⡷⠦⣀⡀⠀⠀⠀⠀⠀⠀⠳⢄⡀⠀⠀⠀⣀⣀⡠⠔⠋⣀⣠⡴⠛⠉⠀⠀⠉⡧⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠠⡟
⠀⠀⠁⠘⣇⠀⠀⠙⣿⡅⢠⡟⠉⠙⠓⠒⠦⠤⠤⠤⣤⡬⣭⣭⣭⠬⠴⡒⢚⡿⠛⠉⠀⠀⠀⠀⠀⠀⡗⠀⠀⠀⢸⡏⠀⠀⠀⠀⠀⠀⠘ -->
</html>