<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Circle DB web</title>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community@30.1.0/dist/ag-grid-community.min.js"></script>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
  </head>
  <body>
    <div id="container">
      <div class="select">
        <select id="db-select" onChange="updateTableList(this.value);">
          <option hidden disabled selected></option>
          {% for database in databases %}
            <option>{{database}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="select">
        <select id="table-select" disabled onChange="updateDisplay();">
          <option hidden disabled selected></option>
          {% for dbname, tables in db_to_tables.items() %}
            {% for table_type, table_name in tables %}
              <option data-src-db="{{dbname}}" style="display: none;">{{table_name}}</option>
            {% endfor %}
          {% endfor %}
        </select>
      </div>
      <div id="table" class="ag-theme-alpine"></div>
    </div>
  </body>
</html>